/* Highlight the margin note when the footnote reference is hovered */
.footnote-ref:hover+.marginnote {
    background-color: var(--highlight-weak);
    box-shadow: 0 0 0 5px var(--highlight-weak);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    border-radius: var(--radius-sm);
}

/* Highlight the footnote reference when the margin note is hovered */
.footnote-ref:has(+ .marginnote:hover) {
    background-color: var(--highlight-strong);
    box-shadow: 0 0 0 5px var(--highlight-strong);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    border-radius: var(--radius-sm);
}

a.footnote-ref-link {
    /* Remove footnote link underline */
    background-image: none;
    text-shadow: none !important;
}