/* Highlight the margin note when the footnote reference is hovered */
.footnote-ref:hover+.marginnote {
    background-color: var(--highlight-weak);
    box-shadow: 0 0 0 5px var(--highlight-weak);
    border-radius: var(--radius-sm);
    animation: pulse 1.5s ease-in-out infinite;
}

/* Highlight the footnote reference when the margin note is hovered */
.footnote-ref:has(+ .marginnote:hover) {
    background-color: var(--highlight-strong);
    border-radius: var(--radius-sm);
    animation: pulse-strong 1.5s ease-in-out infinite;
}

a.footnote-ref-link {
    /* Remove footnote link underline */
    background-image: none;
    text-shadow: none !important;
}


@keyframes pulse-strong {

    0%,
    100% {
        box-shadow: 0 0 0 5px var(--highlight-strong);
    }

    50% {
        box-shadow: 0 0 0 7px var(--highlight-strong);
    }

}